<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css_admin/estilos.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" >
    <style>body {background-color:yellowgreen}</style>
	<title>Panel de Gestión</title>
</head>
<body>
	<div id="contenedor">
		<h1><span>Panel de Gestión</span></h1>
	
	<div id="add">
		<a class="btn btn-success" th:href="@{/admin/proyectos/list}">💻 Gestión de Proyectos</a>
	</div>
	<div id="add">

		<a class="btn btn-success" th:href="@{/admin/equipo/list}">👥 Gestión de Equipo</a>
	</div>
	<div id="add">
		<a class="btn btn-success" th:href="@{/admin/mensajes/list}">💬 Gestión de Mensajes</a>
	</div>
		<div id="add">
		<a class="btn btn-success" th:href="@{/admin/ofertas/list}">💼 Gestión de Ofertas</a>
	</div>
	<div id="add">
		<a class="btn btn-success" th:href="@{/}">👈 Volver a la pagina</a>
	</div>
	<div id="add">
	<form th:action="@{/logout}" method="post">
            <input class="btn btn-success" type="submit" value="🔐 Cerrar sesión Admin"/>
        </form>
	</div> 
	</div>
	


</body>
</html>
