<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css_admin/estilos.css">
	<title>"List equipo"</title>
</head>
<body>
	<div id="contenedor">
		<h1><span>Gestión de equipo</span></h1>
		
		<table  class="container">
			<thead>
				<tr>
					<th>Nº</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Resumen</th>
					<th>Foto</th>
					<th>Cargo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="equipo: ${equipoLista}">
				<td th:text="${equipo.idpersona}" />
				<td th:text="${equipo.nombre}" />
				<td th:text="${equipo.apellidos}" />
				<td th:text="${equipo.resumen}" />
				<td th:text="${equipo.foto}" />
				<td th:text="${equipo.cargo!=null}?${equipo.cargo.cargo}:'Cargo no asignado todavía'" />
				<td>
					 <i class="material-icons button edit">Editar</i>
					 <i class="material-icons button delete">Borrar</i>
     			</td>						
				<!-- td>
					<a th:href="@{/proyectos/admin/update(id=${{proyecto.idproyecto})}">Modificar</a> |
					<a th:href="@{/proyectos/admin/delete(id=${{proyecto.idproyecto})}">Eliminar</a>
				</td -->
			</tr>
			</tbody>
		</table>
		</div>
		<div id="add">
		<button class="add"><a th:href="@{/equipo/admin/add}">Añadir nuevo teammate</a></button>

	</div>

</body>
</html>
