<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css_admin/estilos.css">
	<title>"List proyectos"</title>
</head>
<body>
	<div id="contenedor">
		<h2>Administracion proyectos<br /></h2>
		<table>
			<thead>
				<tr>
					<th>Nº</th>
					<th>Nombre de proyecto</th>
					<th>Fecha de finalización</th>
					<th>Resumen</th>
					<th>Descripción</th>
					<th>Imagen</th>
					<th>Empresa</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tr th:each="proyecto: ${proyectoslista}">
				<td th:text="${proyecto.idproyecto}" />
				<td th:text="${proyecto.proyecto}" />
				<td th:text="${proyecto.fechafin}" />
				<td th:text="${proyecto.resumen}" />
				<td th:text="${proyecto.descripcion}" />
				<td th:text="${proyecto.imagen}" />
				<td th:text="${proyecto.cliente!=null}?${proyecto.cliente.nombre}:'Cliente no asignado todavía'"/>
				<!-- td>
					<a th:href="@{/proyectos/admin/update(id=${{proyecto.idproyecto})}">Modificar</a> |
					<a th:href="@{/proyectos/admin/delete(id=${{proyecto.idproyecto})}">Eliminar </a>
				</td -->	
			</tr>
		</table>		
		<br />
		<p>
		<a href="">Clic para añadir nuevo proyecto</a>
	</div>
</body>
</html>
