<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>body {background-color:yellowgreen}</style>
    <title>Editar Proyecto</title>
</head>

<body>
    <div class="container" id="contenedor">
    	<br>
        <h1>FORMULARIO DE PROYECTOS</h1>
        <br>
        <h2>Editar proyecto</h2>
        <br>
        <form method="post" th:object="${proyecto}"  th:action="@{/admin/proyectos/update}">

         <input type="hidden" class="form-control" th:field="*{idproyecto}">
        	<div class="form-group">
            	<label for="proyecto">Nombre del proyecto:</label>
                <input type="text" class="form-control" th:field="*{proyecto}" maxlength="45">
			</div>
	  		<div class="form-group">   
                <label for="fechafin">Fecha final:</label>
                <input type="text" class="form-control" th:field="*{fechafin}" maxlength="45">
			</div>
	  		<div class="form-group">   
                <label for="resumen">Resumen:</label>
                <textarea type="text" class="form-control" th:field="*{resumen}" maxlength="200"> </textarea>
			</div>
	  		<div class="form-group">   
                <label for="descripcion">Descripción:</label>
                <textarea type="text" class="form-control" th:field="*{descripcion}" maxlength="1024"></textarea>
			</div>
	  		<div class="form-group">                   
                <label for="imagen">URL de la imagen:</label>
                <input type="text" class="form-control" th:field="*{imagen}" maxlength="128">
			</div>
	  		<div class="form-group">                   
                <label for="cliente">Empresa cliente:</label>
				<select name="cliente" class="form-control" th:field="*{cliente.idcliente}">
					<option th:each="cliente:${listaClientes}"
							th:value="${cliente.idcliente}"
							th:text="${cliente.nombre}">
					</option>
				</select>
			</div>   
            <input type="submit" class="btn btn-primary" value="Salvar Registro">
        </form>
    </div>
</body>

</html>