@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:yellowgreen;
}

h1 {
  font-size:3em; 
  font-weight: bold;
  line-height:1em;
  text-align: center;
  color:white;
  padding: 50px;
}


tr, th {
	border: 1px #000 solid;
    border-collapse: collapse;
    background-color:#000;
    text-align:center;
    padding:7px;
}

.add a{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	text-align:center;
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color:  #323C50;
	font-weight: normal;
    line-height: 1.42em;
    font-size: 1.20em;
}

#add {
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 1em;
	
	
}

.add {
	 
	 border: none;
	padding:0;
}

.add a:hover{
	background-color: white;
	
}

.add a:hover{
	color: #403E10;
}

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;  
      padding:7px;
      text-align: center;
      color: rgb(255, 255, 255);

}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
	  text-align: left;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  	  display: table;
  	  padding: 0;
  	  white-space: pre-wrap;
}

.container td{
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:0.5%;
  padding-right:0.5%;
  text-align:center;
  color: white;
  overflow: hidden;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	 background-color:#000;
}

.container td:first-child { color: rgb(255, 255, 255); }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: white;
  color: #403E10;
  /*font-weight: bold;/
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);*/
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
img {
	width: 100px;
}
.edit{
  background-color: #0a79df;
  font-weight: bold;
}

.delete {
  background-color: #dc2a2a;
  font-weight: bold;
}

.edit:hover {
	background-color: #0a79df!important;
	color:white;
}

.delete:hover {
	background-color: #dc2a2a!important;
	color:white;
}
td:hover > .edit, td:hover > .delete {
	background-color: white;
}
.td-name {
	min-width: 150px;
}
.td-actions {
	max-width: 100px;
}
.td-img {
	padding-left: 0!important;
	padding-right: 0!important;
	text-align: center;
}